# Build files
python/**/*.o
python/**/*.so
python/**/*.c
python/**/*.cpp
python/**/*.pyd
python/**/*.pyc
python/**/*.html
python/build/
cpp/build/
__pycache__/

# Virtual Environment
venv/

# IntelliJ
.idea/

# Virtual Studio Code
.vscode/

# Experiments
results/
models/
parameters/